TP Patrones de Diseño/.vs/TP Patrones de Diseño/FileContentIndex/42358f88-ad78-4ef0-aee8-e18f33556cf1.vsidx
TP Patrones de Diseño/.vs/TP Patrones de Diseño/FileContentIndex/1a9b30b0-fde2-45e4-a647-bb1995a05ef7.vsidx
TP Patrones de Diseño/.vs/TP Patrones de Diseño/FileContentIndex/2baff33c-3d54-44ac-939e-6166fe8ae747.vsidx
TP Patrones de Diseño/.vs/TP Patrones de Diseño/FileContentIndex/ac80a7ce-e662-4443-bf57-9ef97deadd21.vsidx
TP Patrones de Diseño/.vs/TP Patrones de Diseño/FileContentIndex/c16f26ec-a4f3-46c6-a7c3-9b143c8a1180.vsidx
*.csproj
TP Patrones de Diseño/TP Patrones de Diseño/Ejemplo 1 - Soporte técnico.cs
